### GENERAL SETTINGSSS
#

# Default directory to save the downloaded torrents.
directory = <%= @user.rtorrent[:directory] %>

# Default session directory.
# Make sure you don't run multiple instance of rtorrent using the same session directory.
session = <%= @user.home %>/.session

# Check hash for finished torrents. Might be useful until the bug is
# fixed that causes lack of diskspace not to be properly reported.
check_hash = <%= node[:rtorrent][:check_hash] %>

# Encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
#
# The example value allows incoming encrypted connections, starts unencrypted
# outgoing connections but retries with encryption if they fail, preferring
# plaintext to RC4 encryption after the encrypted handshake
#
encryption = <%= node[:rtorrent][:encryption] %>

# Stop torrents when
# reaching upload ratio in percent,
# or reaching total upload in Mbytes,
# or reaching final upload ratio in percent.
<% if @user.rtorrent[:ratio] %>
ratio.enable =
ratio.min.set = <%= @user.rtorrent[:ratio_min] %>
ratio.max.set = <%= @user.rtorrent[:ratio_max] %>
ratio.upload.set = <%= @user.rtorrent[:ratio_upload] %>
<% end %>



### THROTTLE SETTINGS
#

# Global upload and download rate. "0" for unlimited.
upload_rate = <%= @user.rtorrent[:upload_rate] %>
download_rate = <%= @user.rtorrent[:download_rate] %>

# Maximum and minimum number of peers to connect to per torrent.
min_peers = <%= @user.rtorrent[:min_peers] %>
max_peers = <%= @user.rtorrent[:max_peers] %>

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = <%= @user.rtorrent[:min_peers_seed] %>
max_peers_seed = <%= @user.rtorrent[:max_peers_seed] %>

# Maximum number of simultaneous uploads per torrent.
# max_uploads = <%= @user.rtorrent[:max_uploads] %>

# Max upload and download slots allowed
# max_uploads_global = <%= @user.rtorrent[:max_uploads_global] %>
# max_downloads_global = <%= @user.rtorrent[:max_downloads_global] %>



### TRACKER RELATED SETTINGS
#

# The ip address reported to the tracker.
ip = <%= @user.rtorrent[:ipaddress] %>

# The ip address the listening socket and outgoing connections is bound to.
#bind = 127.0.0.1
# scgi_port = 127.0.0.1:50<%= @user.rtorrent[:index] %>
scgi_local = <%= @user.home %>/.session/rtorrent.socket
schedule = chmod,0,0,"execute=chmod,777,<%= @user.home %>/.session/rtorrent.socket"

# Port range to use for listening.
port_range = 62<%= @user.rtorrent[:index] %>-62<%= @user.rtorrent[:index] %>

# Start opening ports at a random position within the port range.
port_random = <%= node[:rtorrent][:port_random] %>

peer_exchange = <%= node[:rtorrent][:peer_exchange] %>

# Set whetever the client should try to connect to UDP trackers.
use_udp_trackers = <%= node[:rtorrent][:use_udp_trackers] %>

dht = <%= node[:rtorrent][:dht] %>

tracker_numwant = <%= node[:rtorrent][:tracker_numwant] %>



### ADVANCED SETTINGS
#

# Max number of files to keep open simultaneously.
set_max_open_files = <%= @user.rtorrent[:max_open_files] %>

# Set the max amount of memory space used to mapping file chunks.
# This may also be set using ulimit -m where 3/4 will be allocated to file chunks.
# max_memory_usage = <%= @user.rtorrent[:max_memory] %>

# Adjust the send and receive buffer size for socket.
# send_buffer_size = <%= @user.rtorrent[:send_buffer_size] %>
# receive_buffer_size = <%= @user.rtorrent[:receive_buffer_size] %>



### SCHEDULING
#

# Watch a directory for new torrents, and stop those that have been deleted.
schedule = watch_directory,5,60,load_start=<%= @user.home %>/watch/*.torrent
#schedule = untied_directory,5,60,stop_untied=<%= @user.home %>/watch/*.torrent

# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=1000M

# Alternative calls to bind and ip that should handle dynamic ip's.
# schedule = ip_tick,0,1800,ip=rakshasa
# schedule = bind_tick,0,1800,bind=rakshasa

# Example of scheduling commands: Switch between two ip's every 5
# seconds.
#schedule = "ip_tick1,5,10,ip=torretta"
#schedule = "ip_tick2,10,10,ip=lampedusa"

# Remove a scheduled event.
#schedule_remove = "ip_tick1"
